<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name</strong>
  <%= @person.last_name %>
</p>
<h2>Theses</h2>
<table>
  <thead>
    <tr>
      <th> Title</th>
      <th> Abstract</th>
      <th> Defended</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person.theses.each do |thesis| %>
      <tr>
        <td><%= thesis.title %></td>
        <td><%= thesis.abstract %></td>
        <td><%= thesis.defended %></td>
        <td><%= link_to ' Show', thesis %></td>
        <td><%= link_to ' Edit', edit_thesis_path(thesis) %></td>
        <td><%= link_to ' Destroy', thesis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
